<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html401/strict.dtd">
<HTML>
<head><meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"></head>
<BODY>
<h1>ProjectTemplates change log file</h1>

  <h2>Version 2013.1</h2>
<ul>
    <li>
<span style="color:blue">New: </span>Added template project for Android. [HS#9909]</li>
    <li>
<span style="color:green">Changed: </span>Merged templates into only one template project.</li>
  </ul> 

  <h2>Version 2012.2</h2>
<ul>
    <li>
<span style="color:green">Changed: </span>Upgraded project templates to new structure.</li>
  </ul> 

  <h2>Version 8.2.6</h2>
<ul>
    <li>
<span style="color:green">Changed: </span>Updated bin folder readme.txt to explain the different batch files.</li>
  </ul> 

  <h2>Version 8.2.4</h2>
<ul>
    <li>
<span style="color:green">Changed: </span>Re-exported scenes with 8.2 vForge</li>
    <li>
<span style="color:green">Changed: </span>Extracted the GamePlugin IMPEXP macro to separate header file, so that other projects can correctly import classes and data from the plugin</li>
  </ul> 

  <h2>Version 8.2.2</h2>
<ul>
    <li>
<span style="color:green">Changed: </span>Added VS2010 configurations for all projects. Please also take a look at the README.txt in the project folders, since this fix introduced some other minor changes. [HS #4471]</li>
    <li>
<span style="color:blue">New: </span>Added changelog, thus starting to track changes.</li>
  </ul> 

</BODY>
</HTML>
